// #region example b

.ex-b {
  as-split-area {
    background-color: #d3d3d3;

    p {
      padding: 10px;
    }
  }
}

.custom-shade-gutter {
  width: 100%;
  height: 100%;
  background-color: grey;
  position: relative;
}

.custom-shade-gutter-icon {
  height: 100%;
  width: 100%;
  background-color: black;
  transition: opacity 0.3s;
  opacity: 0;
  position: absolute;

  .dragged &,
  &:hover {
    opacity: 0.1;
  }

  $shadeSize: 8px;

  .as-horizontal & {
    width: 1 + ($shadeSize * 2);
    left: -$shadeSize;
    right: $shadeSize;
  }

  .as-vertical & {
    height: 1 + ($shadeSize * 2);
    top: -$shadeSize;
    bottom: $shadeSize;
  }
}

// #endregion

// #region example c

.custom-collapse-gutter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  .as-vertical & {
    flex-direction: row;
  }

  .as-horizontal & {
    flex-direction: column;
  }
}

.custom-collapse-gutter-header {
  display: flex;
  flex: 1;

  .as-vertical & {
    flex-direction: row;
  }

  .as-horizontal & {
    flex-direction: column;
  }

  & > div {
    cursor: pointer;
  }
}

.custom-collapse-gutter-icon {
  background-position: center center;
  background-repeat: no-repeat;

  .as-vertical & {
    width: 30px;
    height: 5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFCAMAAABl/6zIAAAABlBMVEUAAADMzMzIT8AyAAAAAXRSTlMAQObYZgAAABRJREFUeAFjYGRkwIMJSeMHlBkOABP7AEGzSuPKAAAAAElFTkSuQmCC');
  }

  .as-horizontal & {
    width: 5px;
    height: 30px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  }
}

.custom-collapse-gutter-ghost {
  flex: 1;
}

// #endregion

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
