<div class="container">
    <h3>Examples:</h3>
    <ul>
        <li><a pageScroll href="#ex1">Simple horizontal split</a></li>
        <li><a pageScroll href="#ex2">Simple vertical split</a></li>
        <li><a pageScroll href="#ex3">Multiple nested splits</a></li>
        <li><a pageScroll href="#ex4">Dynamically controlled split</a></li>
        <li><a pageScroll href="#ex5">Show/hide areas using `*ngIf` and `[visible]`</a></li>
    </ul>
    <br>
    <h4 id="ex1">Simple horizontal split</h4>
    <pre [innerText]="codeH"></pre>
    <div class="split-example">
        <split direction="horizontal">
            <split-area [size]="30">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </split-area>
            <split-area [size]="70">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eodolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </split-area>
        </split>
    </div>
    <hr>
    <h4 id="ex2">Simple vertical split</h4>
    <pre [innerText]="codeV"></pre>
    <div class="split-example">
        <split direction="vertical">
            <split-area [size]="34">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </split-area>
            <split-area [size]="66">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eodolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </split-area>
        </split>
    </div>
    <hr>
    <h4 id="ex3">Multiple nested split</h4>
    <pre [innerText]="codeX"></pre>
    <div class="split-example" style="height: 600px;">
        <split direction="horizontal">
            <split-area [size]="40">
                <split direction="vertical">
                    <split-area>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </split-area>
                    <split-area>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eodolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </split-area>
                    <split-area>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </split-area>
                </split>
            </split-area>
            <split-area [size]="60">
                <split direction="vertical">
                    <split-area [size]="25">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </split-area>
                    <split-area [size]="75">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eodolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </split-area>
                </split>
            </split-area>
        </split>
    </div>
    <hr>
    <h4 id="ex4">Dynamically controlled split</h4>
    <pre [innerText]="codeD"></pre>
    <div class="split-example">
        <split [direction]="dynamic.dir" [gutterSize]="dynamic.gutterSize" (dragEnd)="areasSizesCustom = $event; dynamic.areasIndex = -1">
            <split-area [order]="dynamic.areasOrder[0]" [size]="dynamic.areasIndex !== -1 ? dynamic.areasSizes[dynamic.areasIndex][0] : areasSizesCustom[0]">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud exercitation ullamco laboris nis.</p>
            </split-area>
            <split-area [order]="dynamic.areasOrder[1]" [size]="dynamic.areasIndex !== -1 ? dynamic.areasSizes[dynamic.areasIndex][1] : areasSizesCustom[1]">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eodolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </split-area>
        </split>
    </div>
    <div>
        <label>Direction: </label>
        <div class="btn-group">
            <label class="btn btn-secondary btn-sm" [(ngModel)]="dynamic.dir" btnRadio="horizontal">horizontal</label>
            <label class="btn btn-secondary btn-sm" [(ngModel)]="dynamic.dir" btnRadio="vertical">vertical</label>
        </div>
    </div>
    <div>
        <label>Order: </label>
        <button class="btn btn-secondary btn-sm" (click)="dynamic.areasOrder=dynamic.areasOrder.reverse()">Switch</button>
    </div>
    <div>
        <label>Gutter size: </label>
        <div class="btn-group">
            <label class="btn btn-secondary btn-sm" [(ngModel)]="dynamic.gutterSize" [btnRadio]="5">5</label>
            <label class="btn btn-secondary btn-sm" [(ngModel)]="dynamic.gutterSize" [btnRadio]="10">10</label>
            <label class="btn btn-secondary btn-sm" [(ngModel)]="dynamic.gutterSize" [btnRadio]="20">20</label>
        </div>
    </div>
    <div>
        <label>Areas size: </label>
        <div class="btn-group">
            <label *ngFor="let s of dynamic.areasSizes; let i = index"
                    [(ngModel)]="dynamic.areasIndex" [btnRadio]="i" 
                    class="btn btn-secondary btn-sm">{{ s }}</label>
        </div>
    </div>
    <hr>
    <h4 id="ex5">Show/hide area using `*ngIf` and `[visible]`</h4>
    <pre [innerText]="codeT"></pre>
    <div class="split-example" style="height: 150px;">
        <split [gutterSize]="15" (dragEnd)="log('dragEnd', $event)">
            <split-area *ngIf="toggling.isPresentA" [visible]="toggling.isVisibleA" [order]="1">
                <p>A</p>
            </split-area>
            <split-area *ngIf="toggling.isPresentB" [visible]="toggling.isVisibleB" [order]="2">
                <p>B</p>
            </split-area>
            <split-area *ngIf="toggling.isPresentC" [visible]="toggling.isVisibleC" [order]="3">
                <p>C</p>
            </split-area>
        </split>
    </div>
    <div>
        <label>Toggle with `[visible]`: </label>
        <button (click)="toggling.isVisibleA = !toggling.isVisibleA" class="btn btn-sm btn-success" [class.btn-danger]="!toggling.isVisibleA">areaA</button>
        <button (click)="toggling.isVisibleB = !toggling.isVisibleB" class="btn btn-sm btn-success" [class.btn-danger]="!toggling.isVisibleB">areaB</button>
        <button (click)="toggling.isVisibleC = !toggling.isVisibleC" class="btn btn-sm btn-success" [class.btn-danger]="!toggling.isVisibleC">areaC</button>
    </div>
    <div>
        <label>Toggle with `*ngIf`: </label>
        <button (click)="toggling.isPresentA = !toggling.isPresentA" class="btn btn-sm btn-success" [class.btn-danger]="!toggling.isPresentA">areaA</button>
        <button (click)="toggling.isPresentB = !toggling.isPresentB" class="btn btn-sm btn-success" [class.btn-danger]="!toggling.isPresentB">areaB</button>
        <button (click)="toggling.isPresentC = !toggling.isPresentC" class="btn btn-sm btn-success" [class.btn-danger]="!toggling.isPresentC">areaC</button>
    </div>
    <div>
        <label>DragEnd events log: </label>
        <textarea [value]="toggling.logs" disabled></textarea>
    </div>
    <hr>
    <br>
    <button class="btn btn-outline-warning" routerLink="/advanced-example">Advanced example</button>
</div>