<div class="container">
    <h3>Examples:</h3>
    <ul>
        <li><a href="#ex1">Simple horizontal split</a></li>
        <li><a href="#ex2">Simple vertical split</a></li>
        <li><a href="#ex3">Multiple nested splits</a></li>
        <li><a href="#ex4">Dynamically controlled split</a></li>
        <li><a href="#ex5">Show/hide areas using `*ngIf` and `[visible]`</a></li>
        <li><a href="#ex6">Toggle visibility using `[visible]` with transition</a></li>
    </ul>
    <br>

    <hr>

    <hr>

    <hr>

    <hr>

    <hr>

    <h4 id="ex6">Toggle visibility using `[visible]` with transition</h4>
    <pre [innerText]="code6"></pre>
    <div class="split-example" style="height: 150px;">
        <split [gutterSize]="10" [visibleTransition]="true">
            <split-area [visible]="action6.isVisibleA">
                <p>A</p>
            </split-area>
            <split-area [visible]="action6.isVisibleB">
                <p>B</p>
            </split-area>
            <split-area [visible]="action6.isVisibleC">
                <p>C</p>
            </split-area>
        </split>
    </div>
    <div>
        <div>
            <label>Toggle with `[visible]`: </label>
            <button (click)="action6.isVisibleA = !action6.isVisibleA" class="btn btn-sm btn-success" [class.btn-danger]="!action6.isVisibleA">areaA</button>
            <button (click)="action6.isVisibleB = !action6.isVisibleB" class="btn btn-sm btn-success" [class.btn-danger]="!action6.isVisibleB">areaB</button>
            <button (click)="action6.isVisibleC = !action6.isVisibleC" class="btn btn-sm btn-success" [class.btn-danger]="!action6.isVisibleC">areaC</button>
        </div>
    </div>
    <hr>

    <br>
    <button class="btn btn-outline-warning" routerLink="/advanced-example">Advanced example</button>
</div>