

:host {
    .ex-a as-split {
        overflow: inherit;
    
        ::ng-deep .as-split-gutter {
            background-color: yellow !important;
            align-items: flex-end !important;
            pointer-events: none;
            
            & > .as-split-gutter-icon {
                pointer-events: all;
                transition: all .3s;
                opacity: .6;
                
                &:hover {
                    opacity: 1;
                }
            }
        }
        
        &.as-horizontal ::ng-deep .as-split-gutter-icon {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAjCAYAAABl/XGVAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAANkSURBVEiJrddfaJdlFAfwzztda6tdZNo/pZstWlmhSy8siiwhGfQP3IWRIGUEJRgFQXTbZRBeFBhlBv25iFD6s4zCqI0GaWXEhNK5tTCUsJGUWQtOF++zeH7vfnO/3/JcPef7nOd8z3ne5znPeWlCgi3BeHAieDoomlnfDNGy4HBwabAoGAieOReOW4Lu4IIMuyd4LdMXBceCJY36bamXAb7C2/g+eC5YgFPonLYr+DXZ3J/WtQZ9wfrgvEazejHYmsbtwa7g1eDC4OegPbNdGXwdtAXDwVvBm8Fg0DpnZliMsRT9n9iCbmzAPtybZfeNMutnMVawsSgz/QmbGsnsoeD1CrYs+DHYFuytzD0RTAWPZtiGYGcjZK3BgaC/gvcFI+nYL60EEsGTGbYq+CRYF7wQPBWcPxthV8qkq4K/FJwJNmdYWyLbnmGXBKeD74L7gpeDV86WYX+wP2jLsDuS460V26lgT6YXiWxV0tuDk/UOCCjKYz2OuzN4EL+ho2L+Oy6qXe54wYGkT1H/NOayG32Zh7/xkez4JzmN/Zl+PX7J9CsxMRfZXtwZtUG9X4fsD3yW6bfgaKZ3YfSsZKlKjEp7n2RA9h2TnMJQpt+sNtPuOcky5+uzAE5ipGIzVjCZ6V3YQXlY8DDea4RsBFdVsOHpQdriLzL9Guwqyq2lvK/HC4YEPcGHwQdR7nWNBL3BpxWsJRsvqLwOj0/XxTR3KOidnvw42BTcFoxWCYOlwaEGdmDaviMbb47yCv0HTGaRrA2+rCy+Lvi2UbJs3ZJgLOipIasYHQmuyPT+4I15kO0OtlXBo8HFFaPbg4XBAym6m+ZBdiTK56oG3BusyfTH0kcdD3YGy5slSn5ORPXFDrbnVTxhq/Ns50HUGeUDWiML8QOuzsGi9vbPR1aoc4JblIV1Y6TG5RzJGtnFr5H02g4HO2bs8zwk2BOsO5tBWyIbCi7/H0RFlP1kZyPGD6brMKN0NUjWE2Xf2fCCG1N0i+e2nrH2keD5enN1q35RRvYu7mqWDLfi84bJkgxi9TzIenGwWbIJWX/YhFyGY82SjeHaqNOzzybBSkymxqg5SaXsYJQt+fIo+/p8viNYkd6td4KJYO1s/ub8c0wVvx83KJ/8FuXF/wdncFhZmgawr+Cv2Xz9Cy1ParntgE8FAAAAAElFTkSuQmCC') !important;
            width: 27px !important;
            height: 35px !important;
            cursor: grab;
            margin-bottom: 5px;
        }
    
        &.as-vertical ::ng-deep .as-split-gutter-icon {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAdCAYAAAAgqdWEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAOxSURBVEiJtddtzNdTGAfwz7+6y91qKpaGF0UjY8JmrIw1sdj0YFMeMzYLJWaUmac1bfQiw0hkkjErTy+whrARm0zztHmYp3mayjyFkny9+J3bfv7uf3e3/p03v3Od872u8z3Xua7rnB9tamFQmB1eDhvC7+G7sCZcHw5u11o9ETkmPBBODgeGjtBZ+qeEZWFjeCKM2Z1ExodN4eKwPBzdAtc/XB6+DbPbsfCwcEI5jqXhvfBLeCacFfrvhI2R4f1wW2jU5xotFPrhMIwt38PLd198ibexHi9hbYM/ermp4ViD1Q2ubgU6LjwafgwJH4cHw5XhxDCsN4v2QGifEuDTmic6wpJC4KewIBzSwkiPR9ELQqeH7/+1ybCoEFka9qqNd4ZTwx0lZW8Pg9tFpqzxdLilSzggbA831gATwqrC+vkwP4xuJ4naWhPD5jBIuDG8HfqGGaW/KkwJA5sURxV822pFaISPwpmNsBq/YgS2YVaDD+tgnIQ5GIXzG7y1iwQGNNhak+9Dp/BpiZcVoW8NMDjMDR+UenJuSfldbs0ZFC4K65XsWd+1UBgabi3p/UqYXC9O4YhwXbghdPxPMvPCkTV5fPhFqaCTyuBp4ZvwQji2ycDk8E54N8xpjqdekrkszKrJR4Ytwlep7o1zwp+p7o+6J4aEx8I9qarwLrfimcU1eVL4vB9+wBDcjXkNbq+B9sMjuKJRlf92tYH4syaPwzrhs+KNN5o8MrSk+fFtJNFle3mYX/qdJYlmCJ8UQjObFFaEle0mUmx/HMaFPqneQe+GDiVYE/avgSeEv8IRO2m8IxwVLgn3hyk7wB4Tfk715Fib6lV4aNfkveHzJoVnw3M9LD41LA6vht/Khr4MN4XOFnqN2ua/CHemepb8A7gmrK3JI4pXprYwODJV+V4TFtZInB36tNpA0V0YtpQC+t+3VJge3qzJ0wrrvt1gO8K6cs57hNfDi6nd9C1IDC0xuK3VJruAo4snpoc9w5Ph2hbY21JdDQPCXeWI9tiB7WHF8xtSVfTWRGpKTxV3p7hxeDeYS0tsjC1BuDHs08LeQYXs5lTPkEWtsN0pd4bVhczD3cxflao6n1fkh8KCbnBjUv2ObE91r81sFcw9Edq7kJlaGxseVoat4cLa+DvN6ZvqV2VLOcaJvSbQDaGvS0BOS3UrbyqZM74J91q4uSZfUDby+I5iqLdkJqSqyNtTPSvmhgHd4OaWzFiWqtZsLTVjh6m9W1qqMr6kBPRH4Yx22P0bNcolauCjiTYAAAAASUVORK5CYII=') !important;
            width: 35px !important;
            height: 29px !important;
            cursor: grab;
            margin-right: 5px;
        } 
        

        /* Code by Chris Bracco (https://chrisbracco.com/a-simple-css-tooltip/) */

        ::ng-deep .as-split-gutter > .as-split-gutter-icon {
            position: relative;
            z-index: 2;
            
            /* Hide the tooltip content by default */
            &:before,
            &:after {
                visibility: hidden;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
                opacity: 0;
                pointer-events: none;
            }
            
            /* Position tooltip above the element */
            &:before {
                position: absolute;
                bottom: 110%;
                left: 50%;
                margin-bottom: 5px;
                margin-left: -80px;
                padding: 7px;
                width: 160px;
                border-radius: 3px;
                background-color: hsla(0, 0%, 20%, 0.9);
                color: #fff;
                content: "Drag me if you can!";
                text-align: center;
                font-size: 14px;
                line-height: 1.2;
            }
            
            /* Triangle hack to make tooltip look like a speech bubble */
            &:after {
                position: absolute;
                bottom: 110%;
                left: 50%;
                margin-left: -5px;
                width: 0;
                border-top: 5px solid hsla(0, 0%, 20%, 0.9);
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                content: " ";
                font-size: 0;
                line-height: 0;
            }
        }
    
        /* Show tooltip content on hover */
        ::ng-deep .as-split-gutter.as-dragged > .as-split-gutter-icon,
        ::ng-deep .as-split-gutter > .as-split-gutter-icon:hover {
            opacity: 1;
             
            &:before,
            &:after {
                visibility: visible;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
                opacity: 1;
            }
        }
    }
    
    .ex-b as-split {

        .as-split-area {
            background-color: lightgrey;

            & > p {
               padding: 5px;
           }
        }

        ::ng-deep .as-split-gutter {
            background-color: grey !important;
            position: relative;
        }

        ::ng-deep .as-split-gutter-icon {
            background-image: none !important;
            background-color: black;
            transition: opacity .3s;
            opacity: 0;
            position: absolute;
        }

        ::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon,
        ::ng-deep .as-split-gutter-icon:hover {
            opacity: .1;
        }

        &.as-horizontal {
            ::ng-deep .as-split-gutter-icon {
                width: 17px !important;
                left: -8px;
                right: 8px;
            }
        }
        &.as-vertical {
            ::ng-deep .as-split-gutter-icon {
                height: 17px !important;
                top: -8px;
                bottom: 8px;
            }
        }
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

}
    