.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.custom-gutter-container {
  height: 100%;
  background: no-repeat
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
    50% 90%;
}

.custom-gutter-content {
  width: 40px;
  margin-top: 16px;
  transform: rotate(90deg);
  white-space: nowrap;
}
