
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}


pre {
    margin: 15px;
    padding: 10px 30px;
    background: rgba(249, 214, 118, .3);
}


sp-ex-changelog {
    h1 {
        font-size: 24px;
        border-bottom: 1px solid #ddd;
        color: #777777;
        padding-bottom: 15px;
        margin-top: 35px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 16px;
    }
}


.split-example-page {
    display: block;
    width: 100%;
    margin: 50px 0;
}

.split-example {
    height: 300px;
    outline: 5px dashed #f9d676;
    margin: 20px;
}

split-area > p {
    padding: 15px;
}