jobs:
    contributors:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: JoshuaKGoldberg/all-contributors-auto-action@v0.3.2
  
  name: Contributors
  
  on:
    push:
      branches:
        - main