jobs:
  contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        uses: JoshuaKGoldberg/all-contributors-auto-action@v0.4.3

name: Contributors

on:
  push:
    branches:
      - main
